/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";

@theme {
  /* fonts */
  --font-commissioner: "Commissioner", sans-serif;
  --font-rubik: "Rubik", sans-serif;
  --text-1xl: 1rem;

  /* colors */
  --color-white: #ffffff;
  --color-ash-1: #eff0f1;
  --color-ash-2: #f2f2f2;
  --color-ash-3: #d3d3d3;
  --color-ash-4: #333333;
  --color-ash-4-opacity: #33333380;
  --color-coral-1: #fff2e6;
  --color-coral-2: #ffc8a7;
  --color-coral-3: #f9a983;
  --color-darkGreen: #1d4645;
  --color-lightBlue: #12e1ff;
}

body {
  @apply font-commissioner font-normal text-1xl;
}

@layer components {
  h2 {
    @apply font-bold leading-16 text-darkGreen text-6xl;
  }
  h3 {
    @apply font-bold leading-12 text-[2.5rem];
  }
  h4 {
    @apply font-bold leading-6 text-darkGreen text-2xl;
  }

  .common_text {
    @apply font-commissioner font-normal text-ash-4-opacity leading-8;
  }

  .btn {
    @apply px-6 text-nowrap py-3 border border-darkGreen text-darkGreen rounded-sm uppercase font-bold text-[0.875rem] hover:bg-darkGreen hover:text-white ease-in duration-150;
  }

  .card {
    @apply w-96 p-5 overflow-hidden rounded-lg shadow-md bg-white border border-coral-3;
  }
}
